.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  border: solid;
}

.a-right {
  flex: 1;
  border: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.a-card {
  width: 60%;
  height: 400px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: solid;
}

.a-img {
  width: 100%;
  height: 100%;
}

.a-title {
  font-weight: 400;
}

.skills{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 2rem;
}
.skills img{
  border-radius: 1rem;
  width: 60px;
  margin: 12px;
  box-shadow: 0 2px 4px #ccc;
  padding: .5rem;
  cursor: pointer;
  background: #fff;
  transition: all ease-in 0.4s;
}
.skills img:hover{
  transform: rotateY(180deg);
  transition: all ease-in 0.4s;
}

@media screen and (max-width:480px) {
    .a{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }

    .a-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg, .a-award {
      display: none;
    }

    .a-right{
      padding: 20px;
    }
}