.t{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: fixed;
    top: 4px;
    left: 40px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.t-icon{
    width: 28px;
    height: 28px;
}

